@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --main-color: #bdae82;
  --main-color-h2: #bdae82;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

/*    GLOBAL    */

.body-wrapper { 
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body._lock {
  overflow: hidden; /*  запрет прокрутки  */
}

a {
  text-decoration: none;
  color: white;
  line-height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}

p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--main-color);
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 40px;
}

.button:hover{
  color: white;
  transition: .3s;
}



.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 100px;
}

/*   HEAD   */

.container-bg {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-wrapper {
  display: flex;
  padding-top: 20px;
}

.logo {
  margin: 5px 0px 0px 0px;
  width: 50px;
  height: 40px;
  background-image: url('../svg/logo.svg');
}


.logo:hover {
  filter: invert(21%) sepia(13%) saturate(734%) hue-rotate(7deg) brightness(87%) contrast(89%);
  transition: .3s;
}

.navigation {
  margin-left: auto;
}

.navigation-list {
  list-style: none;
  display: inline-flex;
  margin-left: auto;
  padding: 0 15px 0 0;
  margin: 0;
}

.navigation-list li {
  padding: 0px 15px 0px 15px;
}

a:hover {
  color: var(--main-color);
  transition: .3s;
}

.switch-lng {
  display: block;
  gap: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  margin: 0 0 20px 0;
}

.switch-lng input[type=radio] {
  display: none;
}

.switch-lng label {
	cursor: pointer;
	user-select: none;
}

.switch-lng input[type=radio]:checked + label {
  color: var(--main-color);
}


.menu-burger {
  display: none;
  z-index: 15;
  width: 50px;
  height: 30px;
  margin: 10px 0 20px 20px;
  position: relative;
  cursor: pointer;
}

.menu-burger::before,
.menu-burger::after,
.menu-burger span {
  left: 0;
  height: 10%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.menu-burger::before,
.menu-burger::after {
  content: '';
}

.menu-burger::before {
  top: 0;
}
.menu-burger::after {
  bottom: 0;
}

.menu-burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu-burger._active span {
  transform: scale(0) translate(0px, -50%);
}

.menu-burger._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu-burger._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

 /* media navigation */

@media (max-width: 768px) { /* TODO: пофиксить транзишн, выпад меню сверху, и меню на 620px */
  .navigation {
    position: fixed;
    top: 0;
    /* right: 0; */
    height: 100%;
    background-color: rgba(000, 000, 000, 1);
    z-index: 10;
    /* margin-left: 148px; */
    /* display: flex; */
    width: 620px;
    right: -110%;
    transition: all .5s ease;
    /* visibility: hidden; */ /* ?????????? */
  }
  .navigation-active {
    right: 0; /* Анимация выезда */
  }
  .blackout-active {
    position: fixed;
    background-color: rgba(000, 000, 000, 0.5);
    width: 100%;
    height: 100%;
    transition: .2s all linear;
  }
  .navigation-list {
    display: flex;
    flex-direction: column;
    padding: 134px 0 0 127px;
    margin: 0;
  }
  .navigation-list li:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation-list a {
  font-size: 34.8235px;
  line-height: 73px;
  }
  .navigation-list li {
    padding-left: 0;
  }
  .switch-lng {
    margin-left: auto;
  }
  .menu-burger {
    display: block;
    z-index: 10;
  }
  .switch-lng span {
    margin: 0 14px 0 10px;
  }
  /* LIGHT THEME */
  .light-theme.navigation {
    background-color: #fff;
  }
  .light-theme.navigation-list a {
    background-color: #fff;
    color: black;
  }
  .light-theme.navigation-list a:hover {
    color: #bdae82;
  }
  .light-theme.menu-burger._active span,
  .light-theme.menu-burger._active::before,
  .light-theme.menu-burger._active::after {
    background-color: #000;
  } 
}

@media (max-width: 620px) {
  .navigation {
    width: 100%;
  }
  .switch-lng span {
    margin: 0;
  }
}

@media (max-width: 425px) {
  .navigation {
    width: 100%;
  }
  .navigation-list {
    padding-left: 0;
    align-items: center;
  }
  .switch-lng span {
    margin: 0;
  }
}

.header {
  background: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: center 0;
}

/*   MAIN HERO   */

.container-bg {
  background: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: center -90px;
}

.section-hero {
  height: 820px;
  padding-top: 160px;
  padding-left: 60px;
  width: 550px;
}

h1 {
  margin: 0px;
}

.section-hero p {
  margin: 10px 0px 25px 0px;
}

/* media hero */

@media (max-width: 768px) {
  .container {
    padding: 0 64px 0 60px;
  }
  .container-main {
    padding: 0 64px 0 60px;
  }
  .container-bg {
    padding: 0 64px 0 60px;
  }
  h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 64px;
  }
  .section-hero p {
    line-height: 24px;
    margin: 20px 0 60px;
    padding-right: 254px;
  }
  .section-hero {
    height: 500px;
    padding-top: 78px;
    padding-left: 0;
    width: 650px;
  }
  .header {
    background: url('../img/bg-tablet.png');
    background-position: center 0;
    }
  .container-bg {
    background: url('../img/bg-tablet.png');
    background-repeat: no-repeat;
    background-position: center -90px;
  }
}

@media (max-width: 425px) {
  .section-hero p {
    padding-right: 350px;
  }
}

@media (max-width: 320px) {
  .section-hero p {
    padding-right: 400px;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0 24px 0 20px;
  }
}

/*   SKILLS   */

.section-title /* h2 */ {
  margin: 0;
  color: var(--main-color);
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.section-title:after, .section-title:before {
  content: '';
  width: 275px; /* TODO пофиксить длину полосок */
  height: 2px;
  background: var(--main-color-h2);
  margin: 0 20px;
}

.section-skills {
  padding-top: 100px;
}

.skills-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.skills-item {
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 320px;
}


.skills-item:nth-child(1) {
  background-image: url('../svg/camera.svg');
  background-size: 62px 50px; /* TODO пофиксить отображение ФОТО на RU */
}

.skills-item:nth-child(2) {
  background-image: url('../svg/video.svg');
  background-size: 60px 50px;
}

.skills-item:nth-child(3) {
  background-image: url('../svg/retouch.svg');
  background-size: 66px 50px;
}

.skills-item:nth-child(4) {
  background-image: url('../svg/audio.svg');
  background-size: 32px 50px;
}


h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  margin: 100px 0px 20px 0px;
}

.skills-item p {
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  min-width: 280px;
  padding: 0 18px;
}

/*  media skills */

@media (max-width: 1319px) {
  .skills-item-wrapper {
    justify-content: center;
    gap: 50px 160px;
  }
  .skills-item {
    width: 50%;
  }
}


@media (max-width: 768px) {
  .section-title:after, .section-title:before {
    content: '';
    width: 115px; /* TODO пофиксить длину полосок */
  }
  .section-title {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 65px;
}
  .skills-item h3 {
    margin-top: 80px;
    margin-bottom: 21px;
  }
  .skills-item p {
  font-size: 18px;
  line-height: 22px;
  }
  .skills-item {
    margin-bottom: 67px;
  }
  .skills-item-wrapper {
    gap: 4px;
  }
}

@media (max-width: 758px) {
  .skills-item {
    width: 100%;
    margin-bottom: 36px;
  }
} 

@media (max-width: 425px) {
  .skills-item p {
    min-width: 0;
  }
}


  /* PORTFOLIO */  

.section-portfolio {
  padding-top: 100px;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 40px;
}

.button-alt {
  border: 2px solid var(--main-color);
  cursor: pointer;
  font-family: inherit;
  background-color: #000000;
  color: var(--main-color);
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 40px;
}

.button-alt:hover {
  color: white;
}

.button-active {
  border: 0;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--main-color);
  color: #000000;
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 40px;
}


.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

/* media porfolio  */


@media (max-width: 1456px) {
  .portfolio-items {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .section-portfolio {
    padding-top: 103px;
  }
  .section-portfolio .section-title {
    padding-bottom: 72px;
  }
  .portfolio-btns {
    flex-wrap: wrap;
    
  }
}

@media (max-width: 425px) {
  .portfolio-items img {
    object-fit: cover;
    height: 490px;
  }
}

@media (max-width: 580px) {
  .portfolio-btns {
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .portfolio-btns {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  .portfolio-items img {
    object-fit: cover;
    height: 360px;
  }
  .section-portfolio .section-title {
    padding-bottom: 40px;
  }
}

/*   VIDEO   */

.section-video {
  padding-top: 100px;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-btn {
  position: absolute;
  border: 0;
  background: rgba(255, 255, 255, 0);
}

.video-btn:hover {
  filter: invert(21%) sepia(13%) saturate(734%) hue-rotate(7deg) brightness(87%) contrast(89%);
  transition: .3s;
  cursor: pointer;
}

@media (max-width: 425px) {
  .video-player img {
    object-fit: cover;
    width: 430px;
  }
}


@media (max-width: 320px) {
  .video-player img {
    object-fit: cover;
    width: 330px;
  }
}

@media (max-width: 768px) {
  .section-video h2 {
    padding-bottom: 69px;
  }
  .video-btn img {
    width: 65px;
    height: 65px;
  }
}
 
/*   PRICE   */

.section-price {
  padding-top: 100px;
/*   TODO сделать универсальный отталкиватель h2
 */}

.price-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.price-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 3px solid var(--main-color);
  Width: 450px;
  Height: 505px;
}

.price-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin: 43px 0px 10px 0px;
}

.price {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: var(--main-color);
  margin: 10px 0px 20px 0px;
}

.price-advantage span {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

.price-item .button {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* media price */

@media (max-width: 800px) {
  .section-price {
    padding-top: 87px;
  }
  .section-price h2 {
    padding-bottom: 70px;
  }
  .price-wrapper {
    flex-wrap: wrap;
    gap: 50px;
  }
  .price-item {
    Width: 420px;
    Height: 505px;
  }
}

@media (max-width: 425px) {
  .price-item {
    padding: 0 30px 0 30px;
  }

.price-item:last-child  {
  height: 540px;
}

}


/*   CONTACTS   */

.section-contacts {
  height: 700px;
}

.contacts-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts-container {
  background: url('../img/contacts-bg.jpg');
  background-size: auto 700px;
  background-position: center center;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.contacts-title {
  margin: 0;
  color: var(--main-color);
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  padding-bottom: 20px;
  padding-top: 60px;
  padding-right: 223px;   /* TODO пофиксить костыль, позиция заголовка */
}

.section-contacts textarea {
  resize: none;
  height: 100px;
  margin-bottom: 10px;
}
.contacts-input {
  border: 2px solid var(--main-color);
  background-color: rgba(000, 000, 000, 0.5);
  width: 450px;
  color: white;
  height: 50px;
  padding: 5px 0px 5px 20px;
}

.contacts-input::placeholder {
  font-family: inherit;
  color: var(--main-color);
  font-size: 20px;
  line-height: 40px;
}

textarea:focus, input:focus{
  outline: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
  transition: .2s;
}

.section-contacts .button {
  margin-right: 230px;
}

/* contacts media */

@media (max-width: 768px) {
  .contacts-container {
    background: url('../img/contacts-bg-tablet.jpg');
    background-size: auto 600px;
    background-repeat: no-repeat;
  }
  .section-contacts {
    margin-top: 80px;
    height: 600px;
  }
  .contacts-wrapper {
    align-items: center;
  }
  .contacts-title {
    padding-right: 0;
    font-size: 32px;
    line-height: 64px;
  }
  .section-contacts .button {
    margin-right: 0;
  }
}

@media (max-width: 465px) {
  .contacts-input {
    width: 280px;
  }
}

/*   FOOTER   */

footer {
  padding-top: 50px;
  height: 150px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-data span {
  margin-right: 20px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 9px 0 9px 0;
  gap: 20px;
}

.footer-social-list li:hover {
  filter: invert(21%) sepia(13%) saturate(734%) hue-rotate(7deg) brightness(87%) contrast(89%);
  transition: .3s;
}

/* media footer */
 
@media (max-width: 768px) {
  footer {
    padding-top: 15px;
    height: 190px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .footer-data + a{
    font-size: 20px;
    line-height: 24px;
  }
  .footer-data span {
    margin: 8px;
  }
  .footer-social {
    padding-top: 23px;
  }
}

@media (max-width: 340px) {
 footer .container {
  padding: 0 54px 0 50px;
 }
}



/* THEME */

.switch-theme {
  width: 45px;
  height: 45px;
  margin: 3px 0 0 30px;
  cursor: pointer;
  display: inline;
}

.switch-theme:hover {
  filter: invert(21%) sepia(13%) saturate(734%) hue-rotate(7deg) brightness(87%) contrast(89%);
  transition: .3s;
}

.light-theme {
  color: #000;
}

.light-theme.container-main {
  background-color: #fff;
}


.light-theme:hover {
  color: #000;
}

.light-theme.button-alt {
  background-color: #fff;
}

.light-theme.button-alt:hover {
  background-color: #bdae82;
  color: #fff;
}

.light-theme.button-active {
  background-color: #bdae82;
  color: #fff;
}


