@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.header-wrapper {
  outline: 2px dotted #999; 
  outline-offset: -2px;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

/*    GLOBAL    */

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: white;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'Merriweather', serif;
}

/*   HEAD   */

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  display: inline-flex;
  
}

.nav-list {
  padding: 20px 15px 20px 15px;
  transition: .3s;
}

a:hover {
  color: #bdae82;
}


.switch-lng {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.logo {
  align-self: flex-start;
}


