@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');





/*    GLOBAL    */

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: white;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  background-color: black;
}

.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

h1 {
  font-family: 'Merriweather', serif;
}