@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.container {
  position: relative;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 250px;
  height: 35px;
}

p {
  padding-top: 40px;
}