@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(62deg, #add1e9 0%, #b3b5df 100%);
}

.container {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 40px;
  border: none;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.322);
  background: linear-gradient(30deg, #cf95cf 0%, #97D9E1 100%);
  margin-bottom: 40px;
}

button:hover {
  transition-duration: 0.1s;
  background: linear-gradient(30deg, #ca83ca 0%, #97D9E1 100%);
}

button:active {
  top: 2px;
  transition-duration: 0.1s;
  background: linear-gradient(30deg, #d165d1 0%, #97D9E1 100%);
}

p {
  width: 600px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 425px) {
  p {
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: 20px;
  }
}

.footer-wrapper {
  z-index: 50;
  position: absolute;
  left: 5%;
  bottom: 2%;
  color: #747474;
 }
 
 .footer-wrapper a {
   outline: none;
   text-decoration: none;
   color: #747474;
 }

 .footer-logo {
  filter: invert(70%);
}


.footer-logo:hover {
  filter: invert(60%);
}

.footer-wrapper .github:hover {
  filter: invert(80%);
}